* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-decoration: none;
}
body {
  height: 100vh;
  width: 100%;
  background-color: #1f2225;
  /*--------------- All movies -------------*/

}
body h1 {
  text-align: center;
  margin: 10px 0;
}
body div.clear {
  clear: both;
}
body div.movies-container {
  width: 900px;
  margin: 0 auto;
  /*--------------------- Single Movie ----------------*/

}
body div.movies-container a.movie {
  display: inline-block;
  margin: 10px 1px;
}
body div.movies-container a.movie img {
  border: 2px solid #1f2225;
}
body div.movies-container a.movie:hover {
  opacity: 0.8;
}
body div.movies-container a.movie:hover img {
  border: 2px solid #ffffff;
}
body div.movies-container a.movie p {
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
body div.movies-container a.movie p:last-child {
  font-size: 13px;
  color: #4c545c;
}
body div.movies-container div.movie-container {
  width: 100%;
  height: 100vh;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
}
body div.movies-container div.movie-container span.close-movie {
  width: 50px;
  height: 50px;
  display: block;
  float: right;
  margin: 50px;
  position: relative;
  z-index: 4;
  cursor: pointer;
}
body div.movies-container div.movie-container span.close-movie:before,
body div.movies-container div.movie-container span.close-movie:after {
  content: " ";
  width: 30px;
  height: 2px;
  background-color: #ffffff;
  display: block;
  transform: rotate(45deg);
  position: absolute;
}
body div.movies-container div.movie-container span.close-movie:after {
  transform: rotate(-45deg);
}
body div.movies-container div.movie-container div.movie-cache {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
}
body div.movies-container div.movie-container div.movie-infos {
  position: relative;
  width: 800px;
  margin: 50px auto;
  z-index: 3;
  padding-top: 100px;
}
body div.movies-container div.movie-container div.movie-infos span.like-movie {
  cursor: pointer;
}
body div.movies-container div.movie-container div.movie-infos span.like-movie.like svg path {
  fill: #f64747;
}
body div.movies-container div.movie-container div.movie-infos img {
  float: left;
  margin-right: 40px;
}
body div.movies-container div.movie-container div.movie-infos h1 {
  text-align: left;
  font-weight: bold;
}
body div.movies-container div.movie-container div.movie-infos h1 .director {
  font-size: 28px;
  font-weight: 300;
}
body div.movies-container div.movie-container div.movie-infos h3 {
  margin-top: 10px;
}
body div.movies-container div.movie-container div.movie-infos h4.star-3 span.star-span:nth-child(4) svg g path {
  fill: #bfbfbf;
}
body div.movies-container div.movie-container div.movie-infos h4.star-3 span.star-span:last-child svg g path {
  fill: #bfbfbf;
}
body div.movies-container div.movie-container div.movie-infos h4.star-4 span.star-span:last-child svg g path {
  fill: #bfbfbf;
}
body div.movies-container div.movie-container div.movie-infos h4 span.star-span:last-child {
  margin-right: 10px;
}
body div.movies-container div.movie-container div.movie-infos div.torrents {
  margin-top: 50px;
}
body div.movies-container div.movie-container div.movie-infos div.torrents table {
  margin-top: 50px;
  width: 900px;
}
body div.movies-container div.movie-container div.movie-infos div.torrents table thead tr {
  margin-bottom: 20px;
  border-bottom: 1px solid #ffffff;
}
body div.movies-container div.movie-container div.movie-infos div.torrents table thead tr td {
  padding: 0 20px;
  font-weight: 500;
}
body div.movies-container div.movie-container div.movie-infos div.torrents table thead tr td:first-child {
  padding: 0;
}
body div.movies-container div.movie-container div.movie-infos div.torrents table tbody tr td {
  padding: 0 20px;
}
body div.movies-container div.movie-container div.movie-infos div.torrents table tbody tr td:first-child {
  padding: 0;
  text-align: left;
}
body div.movies-container div.movie-container div.movie-infos div.torrents table tbody tr td.quality {
  color: #aea8d3;
}
body div.movies-container div.movie-container div.movie-infos div.torrents table tbody tr td.seeders {
  color: #87d37c;
}
body div.movies-container div.movie-container div.movie-infos div.torrents table tbody tr td.leechers {
  color: #f64747;
}
body div.movies-container div.movie-container div.movie-infos div.torrents table tbody tr td.remove-torrent {
  text-align: center;
}
