*{
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: @white;
  text-decoration: none;
}
@white : #FFF;
@grey: #1f2225;
@text-grey : #4c545c;
@silver-star: #BFBFBF;
@seeders: #87D37C;
@leechers: #F64747;
@quality: #AEA8D3;
@blue: #446CB3;

body{

  height: 100vh;
  width: 100%;
  background-color: @grey;

  h1{

    text-align: center;
    margin: 10px 0;

  }

  div.clear{
    clear:both;
  }



  /*--------------- All movies -------------*/

  div.movies-container{

    width: 900px;
    margin: 0 auto;

    a.movie{

      display: inline-block;
      margin: 10px 1px;

      img{
        border: 2px solid @grey;
      }

      &:hover{

        opacity: 0.8;

      }

      &:hover img{
        border: 2px solid @white;
      }

      p{

        width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &:last-child{

          font-size:13px;
          color: @text-grey;

        }

      }

    }

    /*--------------------- Single Movie ----------------*/

    div.movie-container {

      width: 100%;
      height: 100vh;
      background-size: cover;
      position: fixed;
      top: 0;
      left: 0;

      span.close-movie{

        width: 50px;
        height: 50px;
        display: block;
        float: right;
        margin: 50px;
        position: relative;
        z-index:4;
        cursor: pointer;

        &:before, &:after{
          content:" ";
          width: 30px;
          height: 2px;
          background-color: @white;
          display: block;
          transform: rotate(45deg);
          position: absolute;
        }

        &:after{
          transform: rotate(-45deg);
        }

      }

      div.movie-cache {

        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: 2;

      }

      div.movie-infos {

        position: relative;
        width: 800px;
        margin: 50px auto;
        z-index: 3;
        padding-top: 20px;

        span.like-movie{

          cursor: pointer;

          &.like{

            svg{

              path{

                fill:@leechers;

              }

            }

          }

        }

        img{
          float: left;
          margin-right: 40px;
        }

        h1{
          text-align: left;
          font-weight: bold;
          .director{
            font-size: 28px;
            font-weight: 300;
          }
        }
        h3{
          margin-top:10px;
        }
        h4{

          &.star-3 {
            span.star-span{
              &:nth-child(4){
                svg{
                  g{
                    path{
                      fill:@silver-star;
                    }
                  }
                }
              }
              &:last-child{
                svg{
                  g{
                    path{
                      fill:@silver-star;
                    }
                  }
                }
              }
            }
          }
          &.star-4{
            span.star-span{

              &:last-child{
                svg{
                  g{
                    path{
                      fill:@silver-star;
                    }
                  }
                }
              }
            }
          }


          span.star-span{
            &:last-child{
              margin-right: 10px;
            }
          }

        }

        a.btn-infos{

          width: 130px;
          height: 30px;
          background-color: @blue;
          padding: 10px 20px;
          font-size: 19px;
          border-radius: 5px;
          margin: 50px 10px 0 0;
          display: inline-block;
          text-align: center;
          line-height: 29px;

        }

      }

      div.torrents{


        width: 100%;
        height: 300px;
        background-color: rgba(0,0,0,0.9);
        position: fixed;
        z-index: 20;
        top: 200px;
        left: 0;

        span.close-torrents{

          width: 50px;
          height: 50px;
          display: block;
          right: 0;
          margin: 50px;
          position: absolute;
          z-index:4;
          cursor: pointer;

          &:before, &:after{
            content:" ";
            width: 30px;
            height: 2px;
            background-color: @white;
            display: block;
            transform: rotate(45deg);
            position: absolute;
          }

          &:after{
            transform: rotate(-45deg);
          }

        }

        p{
          text-align: center;
          margin-top: 20px;
        }

        table{

          margin: 50px auto 0 auto;
          width: 900px;

          thead{

            tr{

              margin-bottom: 20px;
              border-bottom: 1px solid @white;

              td{

                padding: 0 10px;
                font-weight: 500;

                &:first-child{

                  padding: 0;

                }

              }

            }

          }
          tbody{

            tr{

              td{

                padding: 0 10px;


                &:first-child{

                  padding: 0;
                  text-align: left;

                }

                &.quality{

                  color:@quality;

                }

                &.seeders{

                  color: @seeders;

                }

                &.leechers{

                  color: @leechers;

                }

                &.remove-torrent{

                  text-align: center;

                }

              }

            }

          }

        }

      }

      div.trailer-movie{

        width: 100%;
        height:400px;
        background-color: rgba(0,0,0,0.9);
        position: fixed;
        z-index: 30;
        top: 200px;
        left: 0;

        span.close-trailer{

          width: 50px;
          height: 50px;
          display: block;
          right: 0;
          margin: 30px 20px 0 0;
          position: absolute;
          z-index:4;
          cursor: pointer;

          &:before, &:after{
            content:" ";
            width: 30px;
            height: 2px;
            background-color: @white;
            display: block;
            transform: rotate(45deg);
            position: absolute;
          }

          &:after{
            transform: rotate(-45deg);
          }

        }

        iframe{

          margin: 20px auto;
          display: block;

        }

      }

    }

  }





}
