<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>MovieTime</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/styles.css"/>
    <script src="../node_modules/angular/angular.js"></script>
</head>
<body ng-app="movieTime">
<h1>MovieTime</h1>

<div class="movies-container" ng-controller="moviesCtrl as movies">


    <a ng-repeat="m in movies.movie" href="#" class="movie" ng-click="m.show = true">
        <img src="{{ m.imgUrl }}" alt="{{ m.title }}" height="300" width="200"/>
        <p>{{ m.title }}</p>
        <p>{{ m.year }}</p>
    </a>

    <div ng-repeat="movie in movies.movie"
         class="movie-container"
         ng-show="movie.show"
            style="background-image:url({{movie.backdrops}})">

        <div class="movie-cache"></div>

        <span class="close-movie" ng-click="movie.show = false"></span>

        <div class="movie-infos">

            <img src="{{ movie.imgUrl }}" alt="{{ movie.title }}"/>
            <h1>{{ movie.title }}<span class="director"> - {{ movie.director }}</span></h1>
            <h2>{{ movie.year }}</h2>
            <h2>
                <!--{% for cat in movie.categories %}-->
                <!--- {{ cat.name }}-->
                <!--{% endfor %}-->
            </h2>
            <br/>
            <h4>Rating : {{ movie.rating }} from {{ movie.nbRates }} users</h4>
            <div class="clear"></div>
            <div class="torrents">

                <p>Torrents avaliables : </p>
                <ul>

                    <!--{% for torrent in movie.torrents %}-->

                    <!--<li><a href="{{ torrent.magnet }}">{{ torrent.name }}</a></li>-->

                    <!--{% endfor %}-->
                </ul>

            </div>

        </div>

    </div>



</div>
<script src="js/app.js"></script>
<script src="js/controllers.js"></script>
<script src="js/services.js"></script>
</body>
</html>